/* General styles - put these straight into your stylesheet */

body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }
  
  /* Selectors to be matched up with rulesets */
/*   
  .card article img
  .card footer
  .card header
  .card */
  
  /* Rulesets to be matched up with selectors */
  
  .card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
  }
  
  .card header, .personal-card header {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
  }
  
  .card footer, .personal-card footer{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
  } 
  
    .card article img, .personal-card img {
    max-height: 100%;
    float: right;
    }

  /*
  Card Container: fixed width and height, margins, background color and border
  Card Header/Footer: background image gradient to change color compared to card, rounded border 
  Main Business Card: #ccc text, Arial font
  */

  .card header, .card footer{
    height: 3em;
    padding: 1em;
    max-height: 5em;
  }

  p{
    margin: 0;
  }

  article{
    height: 12em;
    background-color: rgba(0,0,0,0.3);
  }

  article p{
    padding: 1em;
    color: lightgray;
  }

  h2 {
    margin: 0;
    font-size: 2em;
    line-height: 1.5em;
  }

  .card footer p, .personal-card footer p {
    font-size: 1.5em;
    line-height: 2em;
  }

  .personal-card{
    font-family: "Lucida Console", "Courier New", monospace;
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color:  #d58e91;
    border: 0.2em solid #d58eb4;
    box-shadow: 0 0 2em #d58eb4;
    border-radius: 1.5em;
    line-height: 2em;
  }

  .personal-card header, .personal-card footer {
    height: 3em;
    padding: 1em;
    max-height: 5em;
    font-weight: bold;
    color: #a71d68;
  }